xml/credits.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://wwww.w3.org/2001/XMLSchema">
<xs:element name="credits">
<xs:complexType>
	<xs:sequence>
		<xs:element name="authorName" type="xs:string"/>
		<xs:element name="email" type="xs:string"/>
	</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>