xml/credits.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://wwww.w3.org/2001/XMLSchema">
<xs:element name="credits">
<xs:complexType>
	<xs:sequence>
		<xs:element name="authorName" type="xs:string"/>
		<xs:element name="email" type="xs:string"/>
	</xs:sequence>
</xs:complexType>
</xs:element>

<credits>
  <authors>
   <name>Atilla Gallio</name>
   <email>atilla.gallio@gmail.com</email>
   <name>Luis Antonio Costa</name>
   <email>luis.leite89@gmail.com</email>
   </authors>
  </credits>